.artist-collection {
  width: 100vw;
  margin-top: 5px;
  height: 70px;

  @media (max-width: $portrait-tablet-to-landscape-and-desktop-max-width) {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
  }

  .artist-details-container {
    text-align: center;
    margin-top: 37px;
    margin-bottom: 5px;
  }



  .inline-container {
    display: inline;
  }

}