.label {
  @include bold-font;
  text-align: left;
  margin-left: 5px;
  display: block;
}

.select {
@include bold-font;
  margin-left: 5px;
  option{
    @include bold-font;
  }
}

.input {
 @include input;
}

.inline-input-container{
  width: 350px;
  margin: auto;
  text-align: left;
  margin-top: 5px;
}