.label {
  @include regular-font;
  text-align: left;
  margin-left: 5px;
  display: block;
}

.bold-font {
  @include bold-font;
}

.gray-font {
  @include regular-font;
  color: $gray;
}

.tab-left {
  margin-left: 20px;
}

.centered {
  text-align: center;
  margin-top: 2px;
}

.inline-label{
  display: inline-block;
  vertical-align: top;

  @media (min-width: $portrait-tablet-to-landscape-and-desktop-min-width) and (max-width: $large-desktop-min-width){
    vertical-align: top;
  }

  @media (max-width: $landscape-phone-to-portrait-tablet-max-width){
    font-size: 14px;
  }

  @media (max-width: $small-phone-max-width) {
    font-size: 12px;
    margin-left: 2px;
  }

}
.select {
@include regular-font;
  margin-left: 5px;
  option{
    @include regular-font;
  }
}

.input {
 @include input;
}

.inline-input-container{
  margin: auto;
  text-align: left;
  margin-top: 5px;
  display: inline-block;
}


#table-container {
  padding-bottom: 20px;

  table {
    width: 98vw;
    max-width: 500px;
    margin: auto;
    border-collapse: collapse;

    thead th {
      @include bold-font;
      text-align: center;
      width: 13%;

      @media (max-width: $landscape-phone-to-portrait-tablet-max-width){
        font-size: 14px;
      }

      @media (max-width: $small-phone-max-width) {
        font-size: 12px;
        margin-left: 2px;
      }

    }

    tbody td {
      text-align: center;
      width: 13%;
      border-top: $border-gray;

      @media (max-width: $landscape-phone-to-portrait-tablet-max-width){
        font-size: 14px;
      }

      @media (max-width: $small-phone-max-width) {
        font-size: 12px;
        margin-left: 2px;
      }

    }

    tbody tr {
      &:last-of-type {
        text-align: center;
        border-bottom: $border-gray;
      }
    }

   }

}

.play-pause-button {
  @include button;
}