.album-card {
  width: calc((100vw)/2 - 20px);
  display: inline-block;
  margin: 2.5px 2.5px;
  height: 100px;
  border-bottom: $border-gray;
  padding-bottom: 5px;

  &:first-of-type {
    border-top: $border-gray;
    padding-top: 5px;
  }

  img {
    display: inline-block;
    text-align: left;
    width: 100px;
    height: 100px;

  }

  .album-information {
    width: calc((100vw)/2 - 120px);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }


  @media (max-width: $landscape-phone-to-portrait-tablet-max-width) {
    width: calc(100vw - 10px);
    min-width: 300px;


    .album-information {
      width: calc(100vw - 110px);
    }
  }

  @media (min-width: $portrait-tablet-to-landscape-and-desktop-min-width) and (max-width: $portrait-tablet-to-landscape-and-desktop-max-width) {
    width: 100vw;

    .album-information {
      width: calc(100vw - 110px);
    }
  }


}