.album-card {
  min-width: 320px;
  width: 100vw;
  max-width: 500px;
  display: inline-block;
  margin-left: 5px;

  img {
    display: inline-block;
    text-align: left;
  }

  .album-information {
    min-width: 200px;
    width: calc(100vw - 110px);
    display: inline-block;
    vertical-align: top;
  }

}