.album-collection-label {
  margin-bottom: 5px;
  width: 100vw;
  display: block;
}

.album-card-collection {

  @media (min-width: $portrait-tablet-to-landscape-and-desktop-max-width + 1){
    width: 98%;
    margin: auto;
  }
}