.album-details-view {

  @media (min-width: $portrait-tablet-to-landscape-and-desktop-max-width){
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;


  }

  .album-information {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    min-height: 100px;

    .inline-label{
      max-width: 400px;

    }

    @media (min-width: $portrait-tablet-to-landscape-and-desktop-min-width) and (max-width: $large-desktop-min-width){
      .inline-label {
        max-width: 300px;
      }
    }

    @media (max-width: $small-phone-max-width) {
      width: 215px;
      margin: 0;

      .inline-label {
        max-width: 155px;
        vertical-align: top;
      }
    }

    @media (max-width: $landscape-phone-and-below-max-width) {
      .inline-label {
        max-width: 189px;
        vertical-align: top;
      }
    }
  }


  .album-info-artwork {
    display: inline-block;
    float: right;
    margin-right: 5px;
  }

  .album-details {
    margin: 10px auto;

  }

}