/* helpers */

@import 'sass-helpers/_fonts';
@import 'sass-helpers/_variables';
@import 'sass-helpers/_mixins';

@import 'content/common/_common';

@import 'content/_App';
@import 'content/components/AlbumCard/_AlbumCard';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


html {
  width: 100vw;
  overflow-x: hidden;
}

#root{

  width: 100vw;
  min-height: 100vh;
  background-color: $gray;
}