/* helpers */

@import 'sass-helpers/_fonts';
@import 'sass-helpers/_variables';
@import 'sass-helpers/_mixins';

@import 'content/common/_common';

@import 'content/_App';
@import 'content/components/ArtistsAlbumCollection/AlbumCollection/AlbumCard/_AlbumCard';
@import 'content/components/ArtistsAlbumCollection/AlbumCollection/_AlbumCollection';
@import 'content/components/AlbumDetailsView/_AlbumDetailsView';
@import 'content/components/ArtistsAlbumCollection/_ArtistAlbumCollection';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root{
  width: 100vw;
  background-color: $white;
}